@import 'fonts';
@import 'variables';
@import 'mixins';
@import 'global';

.header {
    @include flex-between;
    font-family: $font;
    height: 64px;
    background-color: $black;
    box-shadow: $shadow-light;

    span {
        font-size: 22px;
        font-weight: normal;
        color: $white;
        padding-right: 60px;
    }

    .logo {
        height: 40px;
        width: 40px;
        padding: 10px;
    }

    .nav1 {
        display: flex;
        align-items: center;
        width: 1000px;
    }

    .search-wrapper {
        background-color: $gray;
        display: flex;
        border-radius: $radius;
        width: 100%;
        height: 48px;
        align-items: center;
        max-width: 720px;
        min-width: 320px;
        overflow: hidden;
    }

    .searchbar {
        outline: none;
        border: none;
        background-color: transparent;
        font-size: 16px;
        width: 100%;
        font-weight: 500;
        caret-color: auto;
    }

    .search  {
        @include flex-center;
        @include icon;
        padding-left: 0.3rem;
        border: none;
        color: $white;
    }

    .search-exit {
        padding: 25px;
        padding-bottom: 22px;
        color: white;
    }

    .button {
        @include icon;
        border: none;
        color: #8d8f92;
        padding: 8px;
    }

    .gear {
        width: 20px;
    }

    .view {
        width: 18px;
    }

    .refresh {
        width: 24px;
    }

    .search-a {
        width: 22px;
        color: white;
        opacity: 80%;
        display: none;
    }

    .button-wrapper {
        @include flex-between;
        padding: 8px;
        height: 48px;
        display: flex;
        padding-right: 2em;
        width: 162px;
    }

    #search-wrapper:focus-within {
        background-color: white;

        .search {
            color: $black;
        }

        .search-exit {
            color: black;
        }
        .searchbar::-webkit-input-placeholder {
            color: black;
        }
        
        .searchbar::-moz-placeholder {
            color: black;
        }
        
        .searchbar::-ms-placeholder {
            color: black;
        }
        
        .searchbar::placeholder {
            color: black;
        }
    }

    @media all and (max-width: 650px) {
        .search-wrapper { display: none; }
        .search-a { display: block;}
      }
}

.searchbar::-webkit-input-placeholder {
    color: $white;
}

.searchbar::-moz-placeholder {
    color: $white;
}

.searchbar::-ms-placeholder {
    color: $white;
}

.searchbar::placeholder {
    color: $white;
}